[submodule "https://github.com/PierreMasselot1/klipper-MSU"]
	branch = master
[submodule "https://github.com/PierreMasselot1/Marlin"]
	branch = bugfix-2.0.x
[submodule "Marlin-MSU"]
	path = Marlin-MSU
	url = https://github.com/rozhkovets/Marlin-MSU
	branch = Marlin-bugfix-2.1.x
